section { 
	text-align: center;
	background: #222222;
	color: #A9A9A9;
	padding: 75px 0; 
}

.section-heading { 
	margin: 30px 0; 
}

.section-lead { 
	margin: 30px 0; 
}

.section-paragraph { 
	margin: 30px 0; 
}

input.form-control {
    width: 300px;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

img.avatar {
	height: 64px;
}

img.preview-avatar {
	height: 100px;
}

img.chat-avatar {
  height: 30px;
}

#CommentContenu {
	width: 100%;
}

/* contact */
#ContactMessage {
	height: 200px;
	width: 70%;
}

section.contact {
	background: inherit;
	color: #000;
}
section.contact h1 {
    margin-top:30px;
    margin-bottom:30px;
}


section.contact {
    display: inline;
    margin-right: 20px;
    width: 620px;
    margin-bottom: 50px;
}
* html section.contact { overflow-x: hidden; }
section.contact form .input { margin-bottom: 10px; }
section.contact label{
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}
section.contact .input input, section.contact .input textarea {
    border: 1px solid #D9E1E7;
    color: #54555A;
    padding: 10px;
    width: 260px;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    outline: none;
}
section.contact .input input:focus, section.contact .input textarea:focus {
    background: #fff;
    border: 1px solid #555;
    -webkit-box-shadow: 0 0 3px #aaaaaa;
    -moz-box-shadow: 0 0 3px #aaaaaa;
    box-shadow: 0 0 3px #aaaaaa;
}
section.contact .input input:required, section.contact .input textarea:required {
    background: white url(false.png) no-repeat 98% center;
}
section.contact .input input:required:valid, section.contact .input textarea:required:valid {
    background: white url(true.png) no-repeat 98% center;
    -webkit-box-shadow: 0 0 5px #5cd053;
    -moz-box-shadow: 0 0 5px #5cd053;
    box-shadow: 0 0 5px #5cd053;
    border-color: #56c93f;
}
section.contact .input input:focus:invalid, section.contact .input textarea:focus:invalid, section.contact .error textarea, section.contact .error input {
    background: white url(false.png) no-repeat 98% center;
    -webkit-box-shadow: 0 0 5px #d45252;
    -moz-box-shadow: 0 0 5px #d45252;
    box-shadow: 0 0 5px #d45252;
    border-color: #ff5a5a;
}

section.contact .btn-contact {
    border: solid 1px #cccccc;
    background: #FFF;
    padding: 7px 15px;
    cursor: pointer;
    text-align: center;
    color: inherit;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
    background-image: linear-gradient(top, #ffffff, #eaeaea);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

svg {
    height: 24px;
    width: 32px;
    color: #0a0a0a;
}

.button {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  background-color: #2199e8;
  color: #fff; 
  height: 50px;
  width: 100px;
}

.span-abo {
  text-align: center;
}
.abo-border {
  border: 1px solid #000;
  padding-bottom: 10px;
}

.abo h3{
  padding-top: 35px;
}

.title-block {
  background-color: #333;
  height: 100px;
  width: 100%;
  color: #fff;
}

.span-loader {
  display: none;
  text-align: center;
}

.pagination .active,
.pagination .disabled {
    float: left;
    padding: 0 14px;

    color: #999;
    cursor: default;
    line-height: 34px;
    text-decoration: none;

    border: 1px solid #ddd;
    border-left-width: 0;
}

/*test carousel*/
.fullwidth {
    width: 100%;
    margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
.slider {margin: 0;}
.slider .slide {width: 100%; height: 100%;}

.slick-prev {
    left: 0;
    background: red;
}
.slick-next {
    right: 0;
    background: red;
}
.slick-dots {
  bottom: 0px;
  margin-left: 0; /* Fixes the visible horizontal scroll bar */
}
